<!-- <p>Hello World Angular</p>
<p>This is my title : {{title}}</p>
<p>My name is : {{name}}</p>
<button type="button" (click)="ShowConsole()">btn</button>
<button type="button" (click)="ChangeName('Naruto')">ChangeName</button> -->

<!-- <span>มา 4 จ่าย 3</span>
<div>
  <input type="text" placeholder="ราคาบุฟเฟ่" #PriceValue>
  <button type="button" (click)="Cal(PriceValue.value)">คำนวน</button>
</div>
<span>คนละ {{value}} บาท</span> -->


<div><app-action-bar (NumberChange)="TestNumChange($event)"></app-action-bar></div>
<div><app-action-bar [step]="5" (NumberChange)="TestNumChange($event)"></app-action-bar></div>
<div><app-action-bar [step]="10" (NumberChange)="TestNumChange($event)"></app-action-bar></div>

<div>
  <button type="button" (click)="TestClick()">TestEevntBinding</button>
</div>
